/* Jens */

.outer-box {
    margin-top: 10px;
    width: 100%;
}

.inner-box {
    display: flex;
}

.menu-box {
    /* width: 10%; */
    flex: 10;
    min-width: 200px;
    max-width: 275px;
    background-color: ghostwhite;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, .25);
    margin-bottom: 1.25cm;
}

.content-box {
    /* width: 75%; */
    flex: 75;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: ghostwhite;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, .25);
    text-decoration: none;
    margin-bottom: 1.25cm;
}

.menu-header {
    padding: 5px;
    background-color: var(--main-color-darker);
}

.menu-button {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-button:hover {
    background-color: rgb(176, 176, 185);
    cursor: pointer;
}

.menu-button-icon {
    height: 22px;
}

.menu-button-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-left: 7px;
}

.content-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.content-header {
    text-align: left;
    background-color: var(--main-color);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 500;
    font-size: 36pt;
    text-decoration: none;
}

.header {
    margin-left: 2%;
}

.table-row {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    flex: 10;
    align-items: center;
}

.border {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}

.border-opaque {
    border-radius: 10px;
}

.hoverable:hover {
    background-color: rgb(219, 219, 219);
}

.table-header {
    display: flex;
    text-decoration: none;
    padding: 5px 3px 5px;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: black;
    background-color: rgba(219, 219, 219, 0.479);
    flex: 10;
}

.table-row-link {
    display: flex;
    padding: 5px 3px 5px;
    text-decoration: none;
    align-items: center;
    color: black;
    align-items: center;
}

.linie-header {
    flex: 10;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.extra-extra-small {
    flex: 1;
}

.extra-small {
    flex: 5;
}

.m-small {
    flex: 15;
}

.collumn-small {
    flex: 20;
}

.collumn-medium {
    flex: 30;
}

.collumn-large {
    flex: 50;
}

.collumn-extra-large {
    flex: 80;
}

.fat {
    font-weight: 600;
}

.text-right {
    text-align: right;
}

.margin-bottom {
    margin-bottom: 2cm;
}

.margin-bottom-small {
    margin-bottom: 1cm;
}

.border-top-bottom {
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

h2 {
    padding-left: 10px;
    margin: 0;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: ghostwhite;
}

p {
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.input {
    margin-left: 3px;
    margin-right: 3px;
}