/* Jens */
.outer-box {
    text-align: center;
    padding: 6.5rem 0;
    margin-bottom: 10rem;
}

.centered-innerbox {
    display: inline-block;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, .25);
    background-color: transparent;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.box-header {
    background-color: var(--main-color-darker);
    height: 100%;
    width: 100%;
}

.box-content {
    padding: 15px 15px 15px;
}

.box-body {
    background-color: ghostwhite;
}

p {
    margin: 0;
    font-weight: 100;
}

h2 {
    margin: 0;
    padding: 10px 15px 10px;
    font-weight: 500;
    color: ghostwhite;
}
