@import "../account/register.css";
/* Paul */

.container-inner {
    width: 70%;
}

.navigator {
    margin-top: 20px;
    display: flex;
}

.navigator-button {
    flex: 1;
    text-decoration: none;
    color: black;
    background-color: rgb(238, 238, 238);

    text-align: center;

    margin-right: 40px;
    padding: 5px 3px 5px;
    border-radius: 10px;
}

.navigator-button:hover {
    background-color: rgb(209, 209, 209);
}

.navigator-spacer {
    flex: 4;
}

.navigator-active-marker {
    margin-top: 2px;
    height: 2px;
    background-color: rgb(138, 138, 138);
    border-radius: 2px;
}

.content-parent {
    display: flex;
    margin-top: 10px;
}

.content-splitter {
    margin-top: 8px;
    width: 1px;
    background-color: gray;
}

.content-result {
    margin-left: 10px;
    margin-top: 20px;
    width: min-content;
    height: fit-content;
}

.noncramped {
    width: max-content;
    height: max-content;
}

.delete {
    border: 1px solid red;
    color: red;
}

.bold {
    font-weight: 600;
}

.row-with-button {
    height: 30px;
}

.hidden {
    opacity: 0;
}

.lightgray {
    background-color: gainsboro;
}

.pointer {
    cursor: pointer;
    padding: 1px;
}

.grabber {
    cursor: grab;
}

.delete-col {
    margin-left: 5px;
}

.addmargin {
    margin-right: 5px;
}

.center-text{
    text-align: center;
}

.addpadding {
    padding-right: 3cm;
    padding-left: 3cm;
}

.ul {
    height: 7cm;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding-left: 10px;
    background-color: rgb(216, 228, 238);
    border-radius: 10px;
    display: block;
    margin-right: 6px;

    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid rgb(80, 80, 80);
}

.ula {
    text-decoration: none;
    border: 1px solid #ddd;
    display: block;
    font-size: 16px;
    color: black;
    background-color: #f5f5f5;
}

.ulli {
    margin-top: 2px;
    margin-bottom: 3px;
    margin-right: 10px;
}

.select_input {
    width: 7cm;
}

input {
    border: 1px solid gray;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin: 2px;
}

.new {
    margin-top: 10px;
}

.wider {
    width: 6cm;
}

.stand {
    width: 3cm;
}
