@import "../account/register.css";

.container-inner {
    width: 70%;
}

.navigator {
    margin-top: 20px;
    display: flex;
}

.navigator-button {
    flex: 1;
    text-decoration: none;
    color: black;
    background-color: rgb(238, 238, 238);

    text-align: center;

    margin-right: 40px;
    padding: 5px 3px 5px;
    border-radius: 10px;
}

.navigator-button:hover {
    background-color: rgb(209, 209, 209);
}

.navigator-spacer {
    flex: 4;
}

.navigator-active-marker {
    margin-top: 2px;
    height: 2px;
    background-color: rgb(138, 138, 138);
    border-radius: 2px;
}

.content-parent {
    display: flex;
    margin-top: 10px;
}

.content-splitter {
    margin-top: 8px;
    width: 1px;
    background-color: gray;
}

.content-result {
    margin-left: 10px;
    margin-top: 20px;
    width: min-content;
    height: fit-content;
}

.delete {
    border: 1px solid red;
    color: red;
}

.bold {
    font-weight: 600;
}

.row-with-button {
    height: 30px;
}

.hidden {
    opacity: 0;
}

.lightgray {
    background-color: gainsboro;
}

.pointer {
    cursor: pointer;
    padding: 1px;
}

.grabber {
    cursor: grab;
}

.delete-col {
    margin-left: 5px;
}

.addmargin {
    margin-right: 5px;
}

.center-text{
    text-align: center;
}

.addpadding {
    padding-right: 3cm;
    padding-left: 3cm;
}
