/* Paul */

.profile-container-inner {
    display: table;
    margin: 0 auto;

    width: fit-content;
    height: fit-content;

    border-radius: 10px;
    border-width: 20px;

    background-color: ghostwhite;
}

.profile-container-outer {
    margin-top: 1cm;
    width: 100%;
}

.profile-body {
    padding: 0 2cm 1cm;
}

.profile-title {
    text-align: center;
    background-color: var(--main-color);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    color: whitesmoke;

    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 500;

    text-decoration: none;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-form-group {
    margin-bottom: 20px;
}

.profile-button {
    background-color: rgb(247, 247, 247);
    width: calc((250px + 5px*2 + 1px + 15px)*2);

    font-size: 22px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

    height: 40px;
    margin-top: 40px;
    padding: 3px 5px 3px;
    border-radius: 10px;

    background-color: rgb(223, 223, 223);
    text-decoration: none;
    color: black;
}

.profile-button:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

.red {
    color: red;
}
